.AdvantageTextBody {
}

.AdvantageSemiTitle {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  color: #23a6f0;
  font-family: "Montserrat Regular", sans-serif;
}

.AdvantageTitle {
  font-weight: 700;
  font-size: 3.0625rem;
  line-height: 3.625rem;
  letter-spacing: 0.2px;
  color: #252b42;
  font-family: "oswald Regular", sans-serif;
}

.AdvantageText {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: 0.2px;
  color: #737373;
}

.AdvantageCardContainer {
}

.adCardCont {
  padding: 35px 24px 35px 0px;
  /* gap: 20px; */
}
.cardIconContainer {
  padding: 22px 19px;
  gap: 10px;
  background: #2a7cc7;
  border-radius: 10px;
  width: fit-content;
}
.cardIconContainer span {
  color: #fff;
  margin-top: 0.2rem;
}
.cardIconContainer span svg {
  width: 32px;
  height: 32px;
}
.adHeader {
  margin-top: 1.25rem;
}
.adCardText {
  margin-top: 1.25rem;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: 0.2px;
  color: #737373;
  width: 8.25rem;
}

.adCardDivider {
  margin-top: 1.25rem;
  width: 50px;
  height: 2px;
  background: #2a7cc7;
}

.adCardButtonCont button {
  width: fit-content;
  padding: 10px 20px;

  border: 1px solid #23a6f0;
  border-radius: 37px;
  transition: all 0.3s ease-in-out;
}

/* .adCardButton:hover {
  background: #23a6f0;
  color: #fff;
} */

.AdvantageCardContainer {
  margin-top: 70px;
}

.adCardButtonText {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #23a6f0;
}
.adCardButtonIcon svg {
  width: 20px;
  height: 20px;
  color: #23a6f0;
  font-weight: 700;
}

.AdvantageImage {
}

.AdvantageCards {
}

@media screen and (width <992px) {
  .AdvantageBreakePoint {
    display: none;
  }
}

@media screen and (width < 992px) {
  .AdvantageImage {
    display: none;
  }
}
