.researchTextBody {
}

.researchBigContainer {
  margin-top: 50px;
}

.researchTitles {
  flex-direction: column;
}

.researchSemiTitle {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0.2px;
  color: #737373;
  font-family: "Montserrat Regular", sans-serif;
}

.researchBigTitle {
  font-weight: 700;
  font-size: 49px;
  line-height: 58px;
  letter-spacing: 0.2px;
  color: #252b42;
  font-family: "oswald Regular", sans-serif;
}

.researchText {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #737373;
  font-family: "Raleway Regular", sans-serif;
}

.researchButtonBanner {
  display: flex;
  font-family: "Raleway Regular", sans-serif;
}

.researchFillButton {
  padding: 15px 40px;
  gap: 10px;
  background: #23856d;
  border-radius: 5px;
  color: #fff;
  border: none;
  transition: all 0.3s ease-in-out;
}

.researchOutlineButton {
  padding: 15px 40px;
  gap: 10px;
  border: 1px solid #23856d;
  border-radius: 5px;
  background: none;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}

/*hover*/
.researchFillButton:hover {
  background: #0db188;
  color: #fff;
}

.researchOutlineButton:hover {
  background: #23856d;
  color: #fff;
}

/*responsive*/

@media screen and (width > 991px) {
  .researchText {
    max-width: 351px;
  }
}

@media screen and (width < 992px) {
  .researchButtonBanner {
    flex-direction: column;
  }
  .researchOutlineButton {
    margin-left: 0;
  }
  .breakResearch {
    display: none;
  }
}

/*responsive all less than 786 px*/

@media screen and (width < 786px) {
  .researchButtonBanner {
    justify-content: center;
    align-items: center;
  }

  .researchTitles {
    flex-direction: column-reverse;
  }

  .researchSemiTitle {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
  }
  .researchBigTitle {
    font-weight: 700;
    font-size: 3.1rem;
    line-height: 58px;
    letter-spacing: 0.2px;
    text-align: center;

    /* text-color */

    color: #252b42;
  }
  .researchText {
    font-size: 1rem;
    line-height: 22px;
    text-align: center;
  }
  .researchSemiTitle {
    font-size: 1rem;
    line-height: 22px;
  }
  .researchButtonBanner {
    flex-direction: column;
  }
  .researchFillButton {
    width: 50%;
  }
  .researchOutlineButton {
    margin-left: 0;
    width: 50%;
    margin-top: 10px;
  }
  .breakResearch {
    display: none;
  }
  .researchBigContainer {
    flex-direction: column;
  }
  .researchImg {
    margin-top: 50px;
  }
  .researchImg img {
    width: 374.5px;
    height: 366px;
  }
}
