.navBanner {
  font-family: "Montserrat Regular", sans-serif;
}

.allNavsLinks {
  width: 85%;
}
.loginBanner {
  margin-right: 7rem;
}

.nav-link {
  /* color: #fff; */
  font-family: "Montserrat Regular", sans-serif;
}

@media screen and (width < 1253px) {
}
@media screen and (width < 992px) {
  .navBanner {
    background: #252b42;
  }
  .allNavsLinks {
    flex-direction: row-reverse;
  }
  .login,
  .favi {
    display: none;
  }
}

@media screen and (width < 768px) {
}
